<h1><%=@category.name %></h1>

<h3>Articles</h3>
<ul>
  <% @category.articles.each do |art| %>
    <li><%= link_to art.title, category_article_path(@category.id, art.id) %></li>
    <%= link_to 'Edit', edit_category_article_path(art.category, art) %>
    <%= link_to 'Delete', category_article_path(art.category, art), method: :delete %>
  <% end %>
</ul>

<%= link_to 'New Article', new_category_article_path %>
