<h1>New Article Page</h1>

<%= render 'articles/errors' %>

<%= form_for :article, url: category_articles_path do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to "#{@category.name} Home", category_articles_path(@category) %>
